<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços da ONG</title>
    <link rel="stylesheet" href="/Aula2Web/assets/css/servicos.css">
    <link rel="stylesheet" href="/Aula2Web/assets/css/global.css">
</head>
<body>
    <header>
        <h1>Nossos Serviços</h1>
        <nav>
			<a href="/Aula2Web/templates/home.html">Voltar</a>
		</nav>
    </header>
    <main>
        <table>
            <caption>Tabela de Serviços</caption>
            <thead>
                <tr>
                    <th>Serviço</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                </tr>
            </tbody>
        </table>
        <!--<div class="servico-card">
            <h2>Serviço 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas atque vero cupiditate distinctio numquam iure consequuntur dicta officia veniam iusto, quaerat, accusamus tenetur voluptas itaque sed quibusdam eum quia aliquid.</p>
        </div>
        <div class="servico-card">
            <h2>Serviço 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas atque vero cupiditate distinctio numquam iure consequuntur dicta officia veniam iusto, quaerat, accusamus tenetur voluptas itaque sed quibusdam eum quia aliquid.</p>
        </div>
        <div class="servico-card">
            <h2>Serviço 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas atque vero cupiditate distinctio numquam iure consequuntur dicta officia veniam iusto, quaerat, accusamus tenetur voluptas itaque sed quibusdam eum quia aliquid.</p>
        </div>-->
        
    </main>
    <footer>

    </footer>
</body>
</html>