@charset "UTF-8";

@font-face {
    font-family: 'Celestina';
    src: url(fontes/Celestina.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
}

:root{
    --font1: 'Celestina', serif;
}

body{
    background-color: pink;
    color: white;
}

section{
    font-family: var(--font1);
    width: auto;
}

h1, h2{
    text-align: center;
    font-size: 2em;
    padding: 5px;
}

img{
    margin: auto;
    display: block;
}

div{
    margin: auto;
    height: 270px;
    width: 200px;
    background-image: url(imagens/cortina.jpg);
}

#foto:active{
    background-image: url(imagens/foto1.jpg);
}

footer{
    background-color: violet;
    font: 400 italic 0.8em Arial;
    text-align: center;
    padding: 3px;
    margin-top: 10px;
    bottom: -1px;
}