@charset "UTF-8";

@font-face {
    font-family: 'Love';
    src: url(fontes/Love.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
}

:root{
    --font1: 'Love', serif;
}

body{
    background-color: pink;
    color: white;
}

header{
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 1px 1px 0px black;
    font-family: var(--font1);
    margin-bottom: 10px;
}

h1{
    font-size: 5vw;
    margin-bottom: 10px;
    text-align: center;
}

h2{
    font-size: 3.5vw;
}

#foto:active{
    /*background-image: url(imagens/foto1.jpg);*/
}

input{
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    background: none;
    border: none;
}

input:hover{
    text-decoration: underline;
}

div#container{
    margin: auto;
    display: flex;
    align-items: center;
}

div#foto{
    height: 270px;
    width: 200px;
    background-size: cover;
    background-position: center center;
    background-image: url(imagens/cortina.jpg);
    box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0.541);
    display: inline-block;
}

section{
    font-family: var(--font1);
    width: auto;
}

section p{
    font-size: 1em;
}

img{
    margin: auto;
    display: block;
}

div.text{
    margin-top: 30px;
    padding: 30px;
    text-shadow: none;
    line-height: 2em;
    font-size: 2.5vw;
}

div p{
    padding: 10px;
}

.semfoto{
    background-color: white;
    color:black;
}

.foto{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.486);
}

.foto#foto1{
    background-image: url(imagens/foto5.jpg);
}

.foto#foto2{
    background-image: url(imagens/foto2.jpg);
}

img{
    background-color: black;
    background-size: cover;
}

h1#end{
    background-image: url(imagens/foto3.jpg);
    background-size: cover;
    height: 98vw;
    text-shadow: 2px 2px 0px black;
}

footer{
    background-color: violet;
    font: 400 italic 0.8em Arial;
    text-align: center;
    padding: 3px;
    margin-top: 10px;
    bottom: -1px;
}