@charset "UTF-8";

@font-face {
    font-family: 'Love';
    src: url(fontes/Love.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
}

:root{
    --font1: 'Love', serif;
}

body{
    background-color: pink;
    color: white;
}

header{
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-shadow: 1px 1px 0px black;
    font-family: var(--font1);
}

h1{
    font-size: 5vw;
}

h2{
    font-size: 3.5vw;
}

section{
    font-family: var(--font1);
    width: auto;
}

section p{
    font-size: 1em;
}

img{
    margin: auto;
    display: block;
}

div#foto{
    margin: auto;
    height: 270px;
    width: 200px;
    background-image: url(imagens/cortina.jpg);
}

.text{
    background-color: white;
    color:black;
    margin-top: 10px;
    padding: 10px;
    text-shadow: none;
}

#foto:active{
    background-image: url(imagens/foto1.jpg);
}

footer{
    background-color: violet;
    font: 400 italic 0.8em Arial;
    text-align: center;
    padding: 3px;
    margin-top: 10px;
    bottom: -1px;
}